/* General Styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Section */
header {
  background-color: #343a40;
}

header img {
  transition: transform 0.2s ease-in-out;
}

header img:hover {
  transform: scale(1.1);
}

header button {
  border: none;
  border-radius: 5px;
}

/* Contract Address */
section p {
  margin: 0;
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #343a40;
  color: #bbb;
}

footer p {
  margin: 0;
}
