/* General Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
nav {
  background: #f4f4f4;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .coin-name {
  font-size: 1.35rem;
  font-weight: 10rem;
  color: #222;
  margin-left: 20px
}

header .social-links {
  margin-right: 20px;
}

header .social-links img {
  width: 20px;
  height: 20px;
  margin-leftt: 10px;
  cursor: pointer;
}

/* Main Content */
main {
  padding: 2rem;
}

.introduction {
  text-align: center;
  margin-bottom: 2rem;
}

.cta .buy-now {
  display: inline-block;
  padding: 10px 20px;
  background: green;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.about, .tokenomics, .roadmap {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}
